<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khóa học</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}" />
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div class="container bg-white" th:fragment="listCourse">
        <div class="mb-4 d-flex justify-content-between">
            <h2>Danh sách khóa học</h2>
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#formCourseModal">
                Thêm khóa học mới
            </button>
        </div>
        <div class="mb-4 d-flex justify-content-between align-items-center">
            <form id="searchForm" class="d-flex" th:action="@{/admin/courses}" method="get">
                <input class="form-control me-2" type="search" placeholder="Tìm khóa học theo tên" aria-label="Search" name="name"
                       th:value="${name}" id="searchInput">
                <select class="form-select me-2" name="sortDirection" style="width: 170px;" id="sortSelect">
                    <option th:value="${null}" th:selected="${sortDirection == null}">Sắp xếp theo tên</option>
                    <option th:value="asc" th:selected="${sortDirection == 'asc'}">Tăng dần</option>
                    <option th:value="desc" th:selected="${sortDirection == 'desc'}">Giảm dần</option>
                </select>
                <input type="hidden" name="page" th:value="${currentPage}" />
                <input type="hidden" name="size" th:value="${size}" />
            </form>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="text-bg-primary text-center">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Thời lượng</th>
                <th scope="col">Giảng viên</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Chức năng</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="course, iterStat : ${courses}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="|${course.duration} giờ|"></td>
                    <td th:text="${course.instructor}"></td>
                    <td>
                        <img th:src="${course.image}" alt="Ảnh khóa học" width="100">
                    </td>
                    <td th:text="${course.create_at}"></td>
                    <td class="text-center">
                        <a href="#" class="btn btn-sm btn-warning btn-edit-course"
                           th:data-id="${course.id}"
                           th:data-name="${course.name}"
                           th:data-duration="${course.duration}"
                           th:data-instructor="${course.instructor}"
                           th:data-image="${course.image}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:href="@{/admin/courses/delete/{id}(id=${course.id})}"
                           class="btn btn-sm btn-danger"
                           onclick="return confirm('Bạn có chắc muốn xóa?')"
                           title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" class="d-flex justify-content-end">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/courses(page=${currentPage - 1}, size=${size}, name=${name}, sortDirection=${sortDirection})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${pageNum == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/admin/courses(page=${pageNum}, size=${size}, name=${name}, sortDirection=${sortDirection})}"
                       th:text="${pageNum}">1</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/courses(page=${currentPage + 1}, size=${size}, name=${name}, sortDirection=${sortDirection})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:replace="formCourse :: formCourseModal"></div>

    <script th:inline="javascript">
        const searchInput = document.getElementById('searchInput');
        const sortSelect = document.getElementById('sortSelect');
        const searchForm = document.getElementById('searchForm');

        let typingTimer;
        const doneTypingInterval = 500;

        searchInput.addEventListener('input', () => {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(() => {
                searchForm.submit();
            }, doneTypingInterval);
        });

        sortSelect.addEventListener('change', () => {
            searchForm.submit();
        });

        const showModalFlag = /*[[${showFormModal}]]*/ false;
        if (showModalFlag) {
            new bootstrap.Modal(document.getElementById('formCourseModal')).show();
        }

        document.querySelectorAll('.btn-edit-course').forEach(btn => {
            btn.addEventListener('click', () => {
                const id = btn.getAttribute('data-id');
                const name = btn.getAttribute('data-name');
                const duration = btn.getAttribute('data-duration');
                const instructor = btn.getAttribute('data-instructor');
                const image = btn.getAttribute('data-image');
                document.getElementById('id').value = id;
                document.getElementById('name').value = name;
                document.getElementById('duration').value = duration;
                document.getElementById('instructor').value = instructor;
                document.querySelector('#formCourseModal .modal-title').innerText = 'Cập nhật khóa học';
                document.querySelector('#formCourseModal button[type="submit"]').innerText = 'Cập nhật';


                const previewImg = document.getElementById('previewImage');

                if (image && previewImg) {
                    previewImg.src = image;
                    previewImg.style.display = 'block';
                } else if (previewImg) {
                    previewImg.src = '';
                    previewImg.style.display = 'none';
                }

                new bootstrap.Modal(document.getElementById('formCourseModal')).show();
            });
        });

        function resetCourseForm() {
            document.getElementById('id').value = '';
            document.getElementById('name').value = '';
            document.getElementById('duration').value = '';
            document.getElementById('instructor').value = '';
            document.querySelector('#formCourseModal .modal-title').innerText = 'Thêm khóa học';
            document.querySelector('#formCourseModal button[type="submit"]').innerText = 'Thêm mới';

            const previewImg = document.getElementById('previewImage');
            if (previewImg) {
                previewImg.src = '';
                previewImg.style.display = 'none';
            }

            document.querySelectorAll('#formCourseModal .text-danger').forEach(e => e.innerText = '');
        }

        const modalEl = document.getElementById('formCourseModal');
        modalEl.addEventListener('hidden.bs.modal', function () {
            resetCourseForm();
        });
    </script>
</body>
</html>