<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="alert-container" style="position: fixed; top: 88px; right: 36px; z-index: 9999; min-width: 300px;">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert" th:text="${error}"></div>
    </div>

    <div class="container bg-white">
        <h2 class="mb-4">Danh sách đăng ký khóa học</h2>

        <div class="mb-4 d-flex justify-content-end align-items-center">
            <form id="searchForm" class="d-flex" method="get" th:action="@{/home/enrollments}">
                <select class="form-select me-2" name="status" style="width: 170px;" id="filterStatus">
                    <option th:value="${null}">Tất cả trạng thái</option>
                    <option th:each="s : ${statusList}"
                            th:value="${s}"
                            th:text="${s}"
                            th:selected="${s.toString() == status}"></option>
                </select>

                <input class="form-control me-2" type="search" placeholder="Tìm khóa học theo tên" aria-label="Search" name="name"
                       th:value="${name}" id="searchInput">
            </form>
        </div>

        <table class="table table-bordered table-hover">
            <thead class="text-bg-primary text-center">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Thời lượng</th>
                <th scope="col">Giảng viên</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Ngày đăng ký</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Chức năng</th>
            </tr>
            </thead>
            <tbody th:if="${#lists.isEmpty(enrollments) == false}">
            <tr th:each="enrollment, iterStat : ${enrollments}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${enrollment.courseName}"></td>
                <td th:text="|${enrollment.duration} giờ|"></td>
                <td th:text="${enrollment.instructor}"></td>
                <td>
                    <img th:src="${enrollment.image}" alt="Ảnh khóa học" width="100">
                </td>
                <td th:text="${enrollment.registeredAt}"></td>
                <td>
                <span th:switch="${enrollment.status.toString()}">
                    <span th:case="'WAITING'" class="badge text-bg-warning">Chờ xử lý</span>
                    <span th:case="'CONFIRM'" class="badge text-bg-success">Đã xác nhận</span>
                    <span th:case="'CANCEL'" class="badge text-bg-secondary">Đã hủy</span>
                    <span th:case="'DENIED'" class="badge text-bg-danger">Bị từ chối</span>
                 </span>
                </td>
                <td class="text-center">
                    <span th:if="${enrollment.status.toString() != 'WAITING'}"> - </span>
                </td>
            </tr>
            </tbody>

            <tbody th:if="${#lists.isEmpty(enrollments)}">
            <tr>
                <td colspan="7" class="text-center">Không có dữ liệu để hiển thị</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example" class="d-flex justify-content-end" th:if="${#lists.isEmpty(enrollments) == false}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/admin/enrollments(page=${currentPage - 1}, size=${size}, name=${name}, status=${status})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${pageNum == currentPage} ? 'active'">
                    <a class="page-link"
                       th:href="@{/admin/enrollments(page=${pageNum}, size=${size}, name=${name}, status=${status})}"
                       th:text="${pageNum}">1</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/admin/enrollments(page=${currentPage + 1}, size=${size}, name=${name}, status=${status})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>